html, body{
	height: 100%;
}
body{
	background: #D0975E;
}

a:link {
    text-decoration: none;
}

.container{
	background: #F9F7F7;
	margin: 0 auto;
	padding: 1.25rem 1.25rem 1.25rem 1.25rem;
	box-shadow: 3px 3px 18px 3px rgba(140,140,140,0.7);
}

.container-cont{
	min-height: 37.5rem;
	min-width: 20rem;
	/* min-height: 100%; */
    /* height: 100%; */
}
.errMsg{
	position: absolute;
	top: 250px;
	z-index: 999;
	text-align: center;
	min-width: 100%;
}
.errBlock{
	background: rgba(140,140,140,0.7);
	position: absolute;
	z-index: 999;	
	height: 100%;
	width: 100%;
}

/* Page achat */
.ann_grp, .ann_grp:hover {
    color: #292b2c;
	position: relative;
}
.ann_grp:hover {
	border-radius: 20px;
	box-shadow: 3px 3px 18px 3px rgba(140,140,140,0.7);
	z-index: 1000;
}

.ann_cont{
	width: 650px;
	padding: 0 0 0 15px;
	margin: 30px 0 0 15px;
	background-color: #fff;
	border-radius: 5px;
}

.ann_img{
	position: relative;
	overflow: hidden;
	float: left;
	width: 182px;
	height: 124px;
	border:solid 2px #c3c3c3;
}
#ImageOnSlider{
	max-height: 455px;
	max-width: 100%;
	margin: auto !important;
}
.ann_date {
    position: absolute;
    top: 0;
    right: 10px;
}

.ann_titre, .ann_ville, .ann_desc, .ann_date {
    color: #000;
	margin: 20px 0 20px 0;
	font-size: 20px;
}

.ann_desc_in{
	color: #000;
	font-size: 17px;
	margin: 0 0 0 15px;
}

.ann_desc_title{
	font-size: 20px;
	font-weight:bold;
}

.ann_price {
    color: #cc464b;
}
.ann_date_in{
	text-align: right;
}

.big_ann_img{
	float: none;
	position: relative;
	height: 600px;
	width: 100%;
	cursor: pointer;
	background: #f2f2f2;
}
.big_img{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	width: auto;
	margin: auto;
}

.ville_marker{
	padding: 0 5px 0 0;
	font-size: 30px;
}

.item_info{
	margin-top: 30px;
	margin-left: -70px;
}

.title-page{
	text-align: center;
}

div.like {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.like:hover {
    color: #F67A4A;
}
.like .active{
	color: #F67A4A;
}

/* Navbar */
.Navbar{
	margin-bottom: 5rem;
}
.navbar.nav-link:hover {
	color: rgba(234, 32, 32, 0.7);
}

#nav-icon{
	margin-right : 10px;
	margin-left : 10px;
}

#nav-icon-text{
	margin-left : 10px;
	top : 10px;
	font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
}

.bg-faded {
    background-color: #fff;
    box-shadow: 0 0 .625rem rgba(9, 9, 9, 0.5);
}

.navbar ul li:hover,
body.home li.home .nav-link,
body.sell li.sell .nav-link,
body.buy li.buy .nav-link,
body.search li.search .nav-link,
body.notif li.notif .nav-link,
body.account li.account .nav-link
{ 
	color: #f67a4a;
	/* border-bottom: 4px solid #f67a4a; */
	
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #f67a4a;
	border-bottom: 0px;
}

/* Recherche index */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
	
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .fa-search{
    font-size: 23px;
}

/* Slider images*/
.fa-chevron-left, .fa-chevron-right{
	font-size : 30px;
	color: rgb(108, 118, 255);
}
.carousel-indicators li{
	bottom: -50px;
	max-width: 70px;
	height: 10px;
	background-color: rgb(108, 118, 255, 0.2);
	
}
.carousel-indicators .active{
	background-color: rgb(108, 118, 255);	
}

/* Page profile */
.card-info {
    background-color: #fff;
    border-color: rgba(0,0,0,.125);
}

/* Upload */
.upload-zone, .uploaded-img{
	height: 152px;
	width: 170px;
	border: 4px dashed #BBBBBB;
	margin-right: 40px;
}
.upload-zone{
	border: 4px dashed #BBBBBB;
}
.label-file{
	cursor: pointer;
}
.label-label-file {
    /* color: #00b1ca; */
    font-weight: bold;
	/* margin: 0 0 0 7px; */
	text-align: center;
}
.label-file:hover {
    color: #25a5c4;
}
#fileToUpload {
    display: none;
}

.upload-img{
	height: 70px;
	width: 70px;
	margin: 40px 0 10px 0;
}
.uploaded-img{
	line-height: 148px;
	margin: 1em 0 0 3em;
	border-radius: .25rem;
	border: solid 1px #25a5c4;
	background-color: #F2F2F2;
}
.uploaded-img-show{
	max-height: 100%;
	max-width: 100%;
}
.uploaded-del{
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-size: 22px;
}
.uploaded-zoom{
	position: absolute;
	bottom: 5%;
	right: 20%;
	font-size: 22px;
}
.uploaded-zoom:hover, .uploaded-del:hover{
	color: #F67A4A;
	font-size: 25px;
	cursor: pointer;
}

/* NotifyJS */
.notifyjs-container {
    min-width: 300px;
    text-align: center;
}
/* Pagination */
.pagination{
	padding-top : 10px;
	margin: auto;
    width: 50%;
}

.page-link {
	color :#F67A4A;
}

.page-item.active .page-link {
	background-color :#F67A4A;
	border-color :#F67A4A;
}

/* Notifications */

#notification_li {
	position: relative
}
#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 59px;
	right: 15%;
	width: 500px;
	z-index: -1;
	display: none;
}
/* Popup Arrow */
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent #E1DFDF;
	margin-top: -20px;
	right: 0px;
}
#notificationTitle {
	padding: 16px;
	font-size: 13px;
	background-color: #fff;
	position: fixed;
	z-index: 1000;
	width: 498px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody {
	padding: 53px 0px 0px 0px !important;
	min-height: 300px;
	border-bottom: 1px solid #dddddd;
}
#notificationFooter {
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 16px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}
.notif_ann_titre{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-item{
	/* border-bottom: 1px solid #dddddd; */
	border-top: 0.0625rem solid #e0e0e0;
}
.dropdown-item:hover{
	background-color: #fff;
}
.dropdown-item:hover .notif_ann_titre{
	color: #FF6347;
}
.dropdown-item:active{
	color: #000;
}
.non_lu{
	background-color: #E5ECEF;
}

.non_lu:hover .notif_ann_titre{
	color: #FF6347;
}
.non_lu:hover{
	background-color: #E5ECEF;
}

.notif-lu {
	float: right;
}
.notif-lu:hover {
	color :#F67A4A;
	cursor: pointer;
}

/* offre-form */

.offre-form{
	display: none;
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	padding: .75rem 1.25rem;
}

/* Profil */

.card-profile {
	width: 340px;
	margin: 30px 0 0 67px;
	background-color: #fff;
	border-radius: 0;
	border: solide 1px #000;
	box-shadow: 3px 3px 18px 3px rgba(140,140,140,0.4);
}
.card-profile .card-img-top {
  border-radius: 0;
}
.card-profile .card-img-profile {
  max-width: 140px;
  border-radius: 50%;
  margin-bottom: 35px;
  border: 5px solid #e6e5e1;
}
.card-profile .card-title {
  margin-bottom: 50px;
}
.card-profile .card-title small {
  display: block;
  font-size: .6em;
  margin-top: .2em;
}
.card-profile .card-links {
  margin-bottom: 25px;
}
.card-profile .card-links .fa {
  margin: 0 1em;
  font-size: 1.6em;
}

.divider{
	height: 1px;
	margin: .5rem 0;
	overflow: hidden;
	background-color: #dadada;
}